.messageblock {
	background: #ccc;
	padding: 10px;
}

.messageblock .headpic {
	width: 128px;
	float: left;
}

.messageblock .headpic img {
	width: 128px;
}

.messageblock .content {
	margin-top: 15px;
	margin-left: 150px;
	margin-right: 20px;
}

.messageblock .content .publishtime {
	float: right;
}

.messageblock .content .message {
	font-size: 30px;
	margin-top: 10px;
	vertical-align: bottom;
}

.messageblock .null {
	clear: both;
}

.messageblock a {
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
}

.messageblock a:link {
	color: #333;
}

.messageblock a:visited {
	color: #333;
}
.messageblock a:hover {
	color: #555;
}
.messageblock a:active {
	color: #888;
}
