body, div, header, img, h4, input {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	background: #f0f0f0;
}

#headerimg {
	width: 980px;
	margin-bottom: 10px;
}

#container {
	width: 980px;
	margin: 0 auto;
}

.content {
}

#registerContent {
	width: 400px;
	margin: 0px auto;
	padding: 100px 10px;
}

h4 {
	width: 100px;
	text-align: right;
	float: left;
}

#registerContent li {
	list-style: none;
	margin: 30px;
}

input {
	height: 23px;
	margin-right:10px;
	border: 1px solid #9ECFFE;
}

.inputbucket {
	width: 150px;
}

#submitbutton {
	margin-left: 130px;
	width: 80px;
}

footer {
	background-color: #89C8E4;
}

