@charset "utf-8";

body, div, header, img, h4, input, ul, li, p, button, textarea, form {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: "Reenie Beanie", 微软雅黑, 幼圆, Georigia, Times, serif;
}

.null {
	clear: both;
}

body {
	background: #fbff7d;
}

header {
	background-image: url(../image/main_bg.gif);
	height: 200px;
	box-shadow: 1px 1px 20px #888;
	border-radius: 10px;
}


#container {
	font-size: 30px;
	width: 980px;
	margin: 0 auto;
}

.content {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

footer {
	background-color: #89C8E4;
	box-shadow: 1px 1px 20px #888;
	border-radius: 10px;
}

.menu {
	display: block;
	font-size: 25px;
}

.menu li {
	display: block;
	float:left;
}

.menu li a {
	border-radius: 10px;
	display: block;
	text-decoration: none; 
	color: #FFF;
	padding: 15px 20px;
}

.menu a:hover {
	display: block;
	background: #65a6d1;
}

.block {
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 20px #888;
	border-radius: 10px;
	background-color: #defadc
}
#searchform {
	margin-top: 50px;
	margin-right: 50px;
	float: right;
}

#searchform #searchinput {
	border: 5px solid #ffa840;
	border-radius: 15px;
	font-size: 25px;
	width: 200px;
	padding: 5px;
}

#searchform #searchinput:focus {
	box-shadow: 1px 1px 20px #888;
	outline: none;
}


#searchform #searchbutton {
	border: 5px solid #ffa840;
	border-radius: 15px;
	font-size: 25px;
	width: 100px;
	padding: 5px 20px;
}


#searchform #searchbutton:hover {
	box-shadow: 1px 1px 20px #888;
}


#searchform #searchbutton:active {
	box-shadow: none;
}

footer {
	text-align: center;
	font-size: 25px;
	padding: 10px;
}
