div #settingnavigation {
	background-color: #53a3b8;
	float: left;
	width: 200px;
	height: 400px;
	box-shadow: 1px 1px 20px #888;
	border-radius: 10px;
}

div #settingnavigation .dir {
	text-align: center;
	display: block;
	padding: 5px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab a {
	color: #fff;
	text-decoration: none;
}

.tab a:hover {
	background: #87c9ae;
}

div #settingnavigation .tab {
	margin-top: 100px;
}

div #modify {
	height: 400px;
	margin-left: 210px;
	position: relative;
	border-radius: 10px;
	background: #defadc;
	box-shadow: 1px 1px 20px #888;
}

#passwordform {
	position: absolute;
	margin-top: 20px;
}

#passwordform h4 {
	color: #117799;
	margin-left: 100px;
	width: 200px;
	text-align: right;
	float: left;
}

#passwordform li {
	list-style: none;
	margin: 30px;
}

#passwordform input {
	font-size: 28px;
	padding: 5px;
	border: 1px solid #9ecffe;
	border: 5px solid #ffa840;
	border-radius: 10px;
}

#passwordform .inputbucket {
	width: 200px;
}

#passwordform .inputbucket:focus {
	outline: none;
	box-shadow: 1px 1px 20px #888;
}

#passwordform #modifybutton {
	font-size: 28px;
	margin-left: 300px;
	width: 220px;
}

#passwordform #modifybutton:hover {
	box-shadow: 1px 1px 20px #888;
}

#passwordform #modifybutton:active {
	box-shadow: none;
}
