div #settingnavigation {
	background-color: #b5ccff;
	float: left;
	width: 200px;
	height: 400px;
}

div #settingnavigation .dir {
	text-align: center;
	display: block;
	padding: 5px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div #settingnavigation .tab {
	margin-top: 100px;
}

div #modify {
	height: 400px;
	margin-left: 210px;
	border: 1px solid #ddd;
}

#passwordform {
	margin-top: 80px;
}

#passwordform h4 {
	margin-left: 100px;
	width: 200px;
	text-align: right;
	float: left;
}

#passwordform li {
	list-style: none;
	margin: 30px;
}

#passwordform input {
	font-size: 28px;
	padding: 5px;
	border: 1px solid #9ecffe;
}

#passwordform .inputbucket {
	width: 200px;
}

#passwordform #modifybutton {
	font-size: 28px;
	margin-left: 300px;
	width: 212px;
}

