#publishblock {
	padding: 10px;
}

#publishblock #note_block {
}

#publishblock #note_content {
	padding: 5px;
	width: 800px;
	font-size: 20px;
	border: 5px solid #3a9ddf;
	height: 100px;
	display: inline-block;
	border-radius: 10px;
	
}

#publishblock #note_content:focus {
	outline: none;
	box-shadow: 1px 1px 20px #888;
}

#publishblock #submitbutton {
	font-size: 30px;
	padding: 5px 30px;
	border: 5px solid #3a9ddf;
	float: right;
	border-radius: 10px;
	
}

#publishblock #submitbutton:hover {
	box-shadow: 1px 1px 20px #888;
}

#publishblock #submitbutton:active {
	box-shadow: none;
}

#publishblock .null {
	clear: both;
}
